//
$primary: #fd7e14;
$secondary: #bba897;
$success: #81a03e;
$info: #28282f;
$warning: #fe9006;
$danger: #f44336;
$light: #f4f7f3;
$dark: #28282f;

html body {
  background-color: $dark;
}

.link-secondary:hover {
  cursor: pointer;
}

.poster {
  width: 100%;
  max-height: 40vh;
  object-fit: contain;
}

.movie-card {
  height: 100%;
}

.year {
  width: 4.8rem;
}

@media screen and (min-height: 1081px) {
  .poster {
    height: 450px;
  }
}

//
@import "./../../node_modules/bootstrap/scss/bootstrap";
