.delete-button {
  background-color: crimson;
  color: white;
  outline: none;
}

main button:focus {
  outline: none;
}

.movies-list {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 2rem;
}

.movie-details {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.movie-details .movie {
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.movie-details .card {
  border: 1px solid black;
  max-width: 675px;
  min-width: 400px;
  min-height: 450px;
  word-wrap: break-word;
  padding: 1em;
  flex-grow: 1;
}

.movie-details .card-wraper {
  max-width: 675px;
  min-width: 400px;
  min-height: 496px;
  flex-grow: 1;
  margin-bottom: 2.7rem;
  margin-right: 0.5rem;
}

.corner-buttons {
  /* margin-left: auto;
  margin-right: auto;
  max-width: 975px; */
  display: flex;
  justify-content: flex-end;
}

.edit-movie {
  font-size: 1rem;
  background-color: orange;
  margin: 0.5em;
  padding: 0.25em;
}

.delete-movie {
  font-size: 1rem;
  background-color: crimson;
  margin: 0.5em;
  padding: 0.25em;
}

.movie-details .card p {
  margin-top: 2em;
}

.movie {
  text-align: center;
  position: relative;
  max-width: 300px;
  height: auto;
  word-wrap: break-word;
}

.movie-poster {
  width: 302px;
  height: 450px;
  border: 1px black solid;
}

.movie-poster img {
  max-width: 100%;
}

.checkbox-delete {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.icon-star {
  font-size: 2rem;
  color: orange;
}

.icon-star-filled {
  font-size: 2rem;
  color: orange;
}

.rate:hover {
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .movie-details {
    flex-wrap: wrap;
  }
  .movie-details .movie {
    margin-right: 0.5rem;
  }
  .movie-details .card-wraper {
    max-width: 700px;
    margin-left: 0.5em;
  }
}

@media only screen and (max-width: 400px) {
  .movie-details .card-wraper {
    min-width: 0;
    padding: 0;
  }
}
